-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: aluguel_quadras
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `conversas`
--

DROP TABLE IF EXISTS `conversas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `conversas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cliente_id` int DEFAULT NULL,
  `locador_id` int DEFAULT NULL,
  `data_inicio` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `cliente_id` (`cliente_id`),
  KEY `locador_id` (`locador_id`),
  CONSTRAINT `conversas_ibfk_1` FOREIGN KEY (`cliente_id`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `conversas_ibfk_2` FOREIGN KEY (`locador_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conversas`
--

LOCK TABLES `conversas` WRITE;
/*!40000 ALTER TABLE `conversas` DISABLE KEYS */;
INSERT INTO `conversas` VALUES (1,1,6,'2025-07-23 18:40:36'),(2,1,NULL,'2025-07-23 19:13:11'),(3,1,NULL,'2025-07-23 19:13:25'),(4,1,NULL,'2025-07-23 19:14:18'),(5,1,NULL,'2025-07-23 19:14:25'),(6,1,NULL,'2025-07-23 19:27:58'),(7,1,NULL,'2025-07-23 19:38:58'),(8,1,NULL,'2025-07-23 19:40:36'),(9,6,1,'2025-07-23 20:20:40');
/*!40000 ALTER TABLE `conversas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `imagens_quadras`
--

DROP TABLE IF EXISTS `imagens_quadras`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `imagens_quadras` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome_arquivo` varchar(255) NOT NULL,
  `url_completa` varchar(255) NOT NULL,
  `tipo` varchar(100) DEFAULT NULL,
  `local` varchar(100) DEFAULT NULL,
  `preco` decimal(10,2) DEFAULT NULL,
  `avaliacao` decimal(3,1) DEFAULT NULL,
  `dono_nome` varchar(100) DEFAULT NULL,
  `dono_foto` varchar(255) DEFAULT NULL,
  `dono_email` varchar(100) DEFAULT NULL,
  `dono_telefone` varchar(20) DEFAULT NULL,
  `criado_em` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `imagens_quadras`
--

LOCK TABLES `imagens_quadras` WRITE;
/*!40000 ALTER TABLE `imagens_quadras` DISABLE KEYS */;
/*!40000 ALTER TABLE `imagens_quadras` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mensagens`
--

DROP TABLE IF EXISTS `mensagens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mensagens` (
  `id` int NOT NULL AUTO_INCREMENT,
  `conversa_id` int DEFAULT NULL,
  `autor_id` int DEFAULT NULL,
  `mensagem` text,
  `data_envio` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `conversa_id` (`conversa_id`),
  KEY `autor_id` (`autor_id`),
  CONSTRAINT `mensagens_ibfk_1` FOREIGN KEY (`conversa_id`) REFERENCES `conversas` (`id`),
  CONSTRAINT `mensagens_ibfk_2` FOREIGN KEY (`autor_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mensagens`
--

LOCK TABLES `mensagens` WRITE;
/*!40000 ALTER TABLE `mensagens` DISABLE KEYS */;
INSERT INTO `mensagens` VALUES (2,2,1,'ola tudo bem?','2025-07-23 19:13:11'),(3,3,1,'ola teste','2025-07-23 19:13:25'),(4,4,1,'ola ','2025-07-23 19:14:18'),(5,5,1,'????????????','2025-07-23 19:14:25'),(6,6,1,'ola','2025-07-23 19:27:58'),(7,7,1,'ola','2025-07-23 19:38:58'),(8,8,1,'ola','2025-07-23 19:40:36'),(14,1,6,'top','2025-07-23 20:25:06'),(15,1,6,'legal','2025-07-23 20:26:49'),(16,1,6,'top','2025-07-23 20:29:15'),(18,1,6,'oalaalala','2025-07-24 21:13:49');
/*!40000 ALTER TABLE `mensagens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quadras`
--

DROP TABLE IF EXISTS `quadras`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quadras` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) NOT NULL,
  `local` varchar(150) NOT NULL,
  `preco` decimal(10,2) NOT NULL,
  `imagem_url` varchar(255) DEFAULT NULL,
  `avaliacao` decimal(3,1) DEFAULT NULL,
  `dono_id` int NOT NULL,
  `criado_em` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `tipo` varchar(100) DEFAULT NULL,
  `dono_nome` varchar(100) DEFAULT NULL,
  `dono_foto` varchar(255) DEFAULT NULL,
  `dono_email` varchar(100) DEFAULT NULL,
  `dono_telefone` varchar(20) DEFAULT NULL,
  `imagem_id` int DEFAULT NULL,
  `descricao` text,
  `nota` decimal(2,1) DEFAULT '0.0',
  PRIMARY KEY (`id`),
  KEY `dono_id` (`dono_id`),
  KEY `imagem_id` (`imagem_id`),
  CONSTRAINT `quadras_ibfk_1` FOREIGN KEY (`dono_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `quadras_ibfk_2` FOREIGN KEY (`imagem_id`) REFERENCES `imagens_quadras` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=130 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quadras`
--

LOCK TABLES `quadras` WRITE;
/*!40000 ALTER TABLE `quadras` DISABLE KEYS */;
/*!40000 ALTER TABLE `quadras` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `senha` varchar(255) NOT NULL,
  `tipo_usuario` enum('cliente','locador') NOT NULL,
  `criado_em` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
INSERT INTO `usuarios` VALUES (1,'joao silva','joao@gmail.com','$2b$10$bDM0g.7whkxjj7Png.DXvOn8hWbGsdxwJ.79S1JUXYnkewOOWmxvy','cliente','2025-07-18 05:41:40'),(2,'vasco Silva','vasco1@gmail.com','$2b$10$YoNHSSlLoWyLR6M5kSaCWeqemro9zOykfCnKrA2mYgC2y/IUloTUu','locador','2025-07-18 05:57:02'),(3,'roberto cartola','robertin@gmail.com','$2b$10$h03aMbhbrLM3HuyyV12foekQS1ONbM5G3cD30kKRZaBHXl7t1yfp2','cliente','2025-07-18 22:50:40'),(6,'luciana  silva','luciana@email.com','$2b$10$MWtU/zEglUeei9da7jGKHOl8DIghc26HAr2atmgkK0ugwr34v/d/K','locador','2025-07-19 17:15:54');
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-07-26  1:23:37
